* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}
